$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$sm-screen: "(min-width: #{$sm})";
$md-screen: "(min-width: #{$md})";
$lg-screen: "(min-width: #{$lg})";
$xl-screen: "(min-width: #{$xl})";

@mixin media-query($query) {
    @media #{$query} {
        @content;
    }
}